.dostava{
    // text-align: center;
    width:50%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 4px #000000;
    
    .nazivKomponente{
        // padding-top: 5px;
        width:96%;
        margin-left: auto;
        margin-right: auto;
        h1{
            padding-top:20px;
        }
    }
    .dugmeZaNazad,.dugmeZaNapred{
        display:inline-block;
        width: 50%;
    }
    .dugmici{
        width:90%;
        margin-right: auto;
        margin-left: auto;
    }
    .dugmeZaNapred{
        text-align: right;
    }
    .dugmeZaNazad{
        text-align: left;
        .linkInsideButton{
            text-decoration: none;
            color: white;
        }
    }
    .dugmeKupi,.dugmeVratiSeNazad{
        background-color: rgb(0, 0, 0);
        
        margin-bottom: 20px;
        color:rgb(255, 255, 255);
        font-size: 14px;
        padding:20px 15px;
    }

    .dugmeKupi:hover,.dugmeVratiSeNazad:hover{
        background-color: rgb(61, 61, 61);

    }
    .racun{
        width:95%;
        text-align: right;
    }
    .divForm{
        width:96%;
        margin-left: 10px;
        form{
            width:100%;
            margin-left: 25px;
            label{
                font-size: 16px;
                padding-bottom: 10px;
            }
        }
        .inputRadio{
            label{
                font-size: 15px;
            }
            input{
               width:5%;
            }
            }
            .slct select{
                font-size:16px;
                padding:6px;
            }
        }
        }
    

.sve{
    h1{
        text-align: center;
    }
}
.prazno{
    width:60%;
    margin-right: auto;
    margin-left: auto;;
    padding:20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 4px black;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 24px;
    .ikonicaKorpe{
        font-size:175px;
        text-align: center;
        margin:0;
      
    }
    p{
        text-align: center;
        padding-bottom:25px;
        margin-top: 0;
    }
    .back{
        color:black;
        text-align: center;
        font-size: 15px;
    }
}