// .card{
//     border:0.5px solid rgb(173, 173, 173);
//     width:250px;
//     text-align: center;
//     color:black;
//     background-color: white;
//     position: relative;
//     img{
//         width:200px;
//         padding:5px;
//         clear:left;
//         clear: right;
//         // position: relative;

//     }
//     .cena{
//         font-size:16px;
//         text-align: left;   
//         color:black;
//     }
//     .Naziv{
//         // position: relative;
   
//     width:90%;
//     margin-left:auto;
//     margin-right:auto;

//     h5{
      
//         height:45px;
//     }
//     }
 
 
//     .linija{
//         position: relative;
//         margin-top: 5px;
//         width:90%;
//         margin-left:auto;
//         margin-right:auto;
        
//     }

//     .kolic{
//         margin:12px auto;
//         width: 90%;
//         padding:10px;
       
        
//     }
//     .dodajUKorpu{
//         margin:12px auto;
//         width: 90%;
//         padding:14px;
//         background-color: rgb(41, 59, 82);
      
//         border:0;
//         font-size:16px;


//         .korpa{
//             font-size: 13px;
//         }
//     }

//     .omiljeno{
//         margin:1px;
//         float:right;
//         background-color: white;
//         border:0;
//         width:40px;
//         font-size: 25px;
//         opacity:50%;
//         color: #000;
//     }
//     .brisi{
//         margin:1px;
//         float:left;
//         background-color: white;
//         border:0;
//         width:40px;
//         font-size: 25px;
//         opacity:50%;
//         color: #000;
//     }
//     .brisi:hover{
//         color:red;
//         font-weight: bold;
//     }
//     .brs{
//         text-decoration: none;
//         color:black;
//     }
//     .brs:hover{
//         color:red;
//     }
//     .omiljeno:hover{
//         opacity:100%;
//         color:red;
//     }

//     .detalj{
//         position: absolute;
//         top:calc(100%/2.5);
//         left:calc(100%/2.7);
//         display:none;
        
//         .linkud{
//             text-decoration: none;
//             color:rgb(0, 0, 0);
//             border:1px solid black;
//             padding:10px;
//             font-size: 10px;
//             background-color: rgb(255, 255, 255);
//             border-radius: 4px;

           
//         }
//         .linkud:hover .detalj{
//             background-color: rgb(230, 230, 230);
//             opacity:1%;
//         }
//     }
//   .dodajUKorpu:hover{
//       opacity: 1;
//       background-color: rgb(70, 100, 139);
//   }
// }

// .card:hover .detalj{
//     display:block;
// }
// .card:hover img{
//     opacity:0.7; 
// }

tr{
    text-align: center;
    vertical-align: top;
    td{
        padding-top: 50px;
    }
 
   .ArtikalNaziv{
       text-align: left;
        h5{
            margin-top: 1px;
        }
        button{
            padding:14px;
            background-color: rgb(41, 59, 82);
          
            border:0;
            font-size:10px;
        }
        button:hover{
            opacity: 1;
            background-color: rgb(70, 100, 139);
        }
      
    }
    .ArtikalSlika{
      
        img{
            width:100px;
        }
    }
    .brisi{
        background-color: white;
        color:black;
        font-size: 25px;
        
    }
    .ArtikalCena{
        text-align: center;
        width:100%;
    }
}