.ispod{
   
  
    width:90%;
    margin-left: auto;
    margin-right: auto;
    margin-top:0.5vw;

    color:black;
    text-align: center;
    table{
        .tt{
            text-align: left;
        }
    }
    
      button{
          margin-top: 5px;
      }
        .d{
            text-decoration: none;
            color:white;
            
        }

        input{
            width:200px;
        }
    
   
}

.jedan{
    display: inline-block;
    width:70%;
    margin-left: auto;
    margin-right: auto;
}
.forma{
//    margin-right: 15vw; 
table{
    border:0;
}
}
.forma,.novac{
    display:inline-block;
    p{
        text-align: left;
        font-size: 20px;
    }
}
.forma label{
    margin-top:1vw;
    display:block;
    font-size:1vw
}
.novac{
    display:inline-block;
    width:35%;
    float:left;
    text-align: left;
}
table{
    text-align: center;
    border:1px solid black;
    width: 100%;
}
table th,tr{
    border:1px solid black;
}

table img{
    width:75px;
}

.nema{
    margin:15px 0;
    text-align: center;
    background-color: rgb(216,216,216);
    padding:20px;
    .n{
        color:black;
    }
}