.stil{
    width:100%;
    // margin-left: auto;
    // margin-right: auto;
    margin:1vw 0;
    display:flex;
    color:black;
    justify-content: center;
    box-shadow: 0 0 4px black;

    .levoL,.desnoL{
        border:1px solid rgb(221, 221, 221);
        display:inline-block;
        width:30%;
        text-align: left;
        padding:1vw 1.5vw;
        vertical-align: top;
       
        
    }
    .levoL{
        background-color: rgb(0, 0, 0);
        color:rgb(255, 255, 255);
        p{
            color:white;
        }
        .uk{
            
            color:white;
        }
    }
    .desnoL{
        background-color: rgb(255, 255, 255);
        .forma{
            width: 100%;
            
            label{
                line-height: 0.5px;
            }
            .inp{
                margin:1vw 1vw 1vw 0;
                width:60%;
                padding:10px;
                font-size: 16px;
            }
            .tt{
                text-align: left;
            }
        }
   
        hr{
            width:100%;
            
        }
        .drm{
            text-align: center;
            img{
                width:45px;
            }
        }
    }
   
        button{
            // padding:10px 21px;
            margin:5px 0;
            padding:0.6vw 1.2vw;
            .lgn,.reg{
                text-decoration: none;
                font-size: 16px;
                
            }
            .lgn{
                background-color: black;
                color:white;
            }
            .reg{
                background-color: rgb(235, 235, 235);
                color:black;
               font-size: 15px;
               padding:0.5vw 1vw;
            }
        }
      
    
    }
    
    
    