.lista{
    background-color: rgb(0, 0, 0);

.flex-container{
    width:100%;
    text-align: center;
    margin:auto;
  
    li{
        list-style-type: none;
        padding-right:1.5vw;
        margin-bottom: 10px;
        font-weight: bold;
        display:inline-block;
        color:rgb(173, 173, 173);
        font-family: Arial, Helvetica, sans-serif;
        font-size:18px;
       
    }  
    .act{
        color:white;
        font-size: 20px;
        margin-bottom: 7px;
    } 
}

}