.odeljak{
   background-color: rgb(0, 0, 0);
   text-align: center;
   width:100%;
   padding:8px 0;
   
    .pored{
        display:inline-block;
        text-align: center;
        padding-bottom:12px;
    }
    p{
      text-align: center;
      font-size: 25px;
      color:rgb(255, 255, 255);
    }
}