.proizvod{
    margin:20px;
    width:70%;
    margin-left:auto;
    margin-right: auto;
    background-color: rgb(216,216,216);

    .levaStrana,.desnaStrana{
        display: inline-block;
    }
    .levaStrana{
        width:40%;
        .nazivpr{
            font-size: 32px;
            color:rgb(0, 0, 0);
            margin-bottom:0;
            padding-bottom: 0;
            text-align: center;
          
        }
        .img{
            margin:0;
            text-align: center;
            img{
                width:250px;
            }
        }
    }
    .desnaStrana{
       margin-top: 20px;
        width:60%;
        #besplatno{
            font-weight: bold;
        }
        .kr{
            text-decoration: none;
            color:white;
        }
        .dugmesredina{
            text-align: center;
            .kupi{
                width:65%;
                padding:15px;
                background-color: rgb(7, 0, 49);
                margin-bottom: 10px;
            }
        }
        
    }
  
  
}