input{
    font-size:15px;
    padding:9px;
    width:40%;
    border: none; 
    border:solid 1px #ccc;
    border-radius: 3px;
    
}

button{
    font-size: 19px;
    padding: 7px 12px;
    background-color: black;
    color:white;
    border:0;
    margin-bottom: 0;
}
div.vidljivaPretraga{
    position: absolute;
    display:none;
}
#pr1:focus{
    .vidljivo{
    display:block;
    }
}
.trazeno{
    text-decoration: none;
    color:black;
    .unutraLink:hover{
        background-color: rgb(189, 189, 189);;
    }
    
}

div:focus-within .vidljivaPretraga {
    display: block
  }
  .vidljivaPretraga{
        // position: absolute;
      position: absolute;
        width:41.5%;
        left:29.2%;
        background-color: rgb(255, 255, 255);
        .unutraLink{
            padding:5px 0;
            padding-left : 5px;
            text-align: left;
            font-size: 12px;
            font-family: 'Courier New', Courier, monospace;
           
          
        }
        
    }

