input{
    font-size:15px;
    padding:9px;

    width:40%;
    left:29.2%;
    border: none; 
    border:solid 1px #ccc;
    border-radius: 3px;
    
}


button{
    font-size: 19px;
    padding: 7px 12px;
    background-color: black;
    color:white;
    border:0;
    margin-bottom: 0;
}
// div.vidljivaPretraga{
//     position: absolute;
//     display:none;
// }
// #pr1:focus{
//     .vidljivo{
//     display:block;
//     }
// }
.trazeno{
    text-decoration: none;
    color:black;
   
    
}


  .skriveno{
      display: none;
  }
  .vidljivaPretraga{
      z-index: 10;
        // position: absolute;

        display: block;
      position: absolute;
        width:41.2%;
        left:29.35%;
        background-color: rgb(255, 255, 255);
        input{
            width:100%;
        }
        .unutraLink:hover{
            background-color: rgb(189, 189, 189);;
        }
        .unutraLink{
            padding:10px 0;
            text-align: justify;
            
            // text-align: left;
            font-size: 11px;
            font-family: 'Courier New', Courier, monospace;
            width: 100%;

            #naziv{
                text-align: left;
                width: 85%;
            }
            #cena,#naziv{
                display: inline-block;
                vertical-align: middle;
                padding-left : 5px;
                
                
            }
            #cena{
                text-align: left;
                
            }
           
          
        }
        
    }

