input{
    font-size:15px;
    padding:9px;
    width:40%;
    border: none; 
    border:solid 1px #ccc;
    border-radius: 3px;
    
}

button{
    font-size: 19px;
    padding: 7px 12px;
    background-color: black;
    color:white;
    border:0;
    margin-bottom: 0;
}
div.vidljivo{
    position: absolute;
    display:none;
}
input:focus{
    .vidljivo{
    display:block;
    }
}
div:focus-within .vidljivo {
    display: block
  }
    .vidljivo{
        position: absolute;

      
        width:43%;
        left:28%;
        background-color: rgb(255, 255, 255);
        .unutraLink{
            padding:5px 3px;
            text-align: left;
            font-size: 12px;
            font-family: 'Courier New', Courier, monospace;
            .trazeno{
                text-decoration: none;
                color:black;
                
            }
        }
        
    }

