.sve{
    margin-top:20px;
    width:100%;

    

    .proiz{
      width: 100%;
      padding:10px 0;
      margin-bottom: 20px;
      margin:auto;
      .proiz1{
        width:80%;
        margin-left: auto;
        margin-right: auto;
      }
      .proiz1,.checkbox{
        display:inline-block;
      }
      .checkbox{
        width:17%;
        vertical-align: top;
     
       .inside{
         width:60%;
         margin-left: auto;
         margin-right: auto;
         margin-top: 25px;
         font-size: 18px;
         input{
         margin-top: 30px;
         text-align: center;
        }
        // label{
        //  padding-top: 50px;
        // }
       }
       input{
         margin:auto;
         width:18%;
         text-align: left;
       }
    
        
          
     
      }
    }
    
  .podnaslov{
      font-size:28px;
  }
  .pored{
    display: inline-block;
    margin:10px 10px 10px 0;
 

}
.kf{
  width:100%;
  background-color: rgb(216,216,216);
  .slct{
    text-decoration: none;
  }
 form{
    margin-left: auto;
    margin-right: auto;
    width:50%;
    margin-bottom: 20px;
    padding:5px 0;
    .filtriranje{
      display:inline-block;
      width:50%;
      margin:5px auto;
      select{
        font-size: 14px;
        padding:4px;
      
      }
    }
  
  }
}

}