.red{
margin:auto;
background-color: black;
    .k1,.k2,.k3
    {
        
        display:inline-block;
       
        text-align: center;
        width:33.333%;
        font-size: 12px;
        // height:130px;
        vertical-align: bottom;
        input,button{
            margin:0;
        }
        h2{
            color:rgb(126, 126, 126)
        }
        p,h1{
            color:white;
        }
    }
    }
