.red2{
    border-top:1px solid rgb(168, 168, 168);
    margin:auto;
        .k12,.k22,.k32
        {
            display:inline-block;
            background-color: rgb(216, 216, 216);
            text-align: center;
            width:33.333%;
            font-size: 12px;
            height:150px;
            input,button{
                margin:0;
            }
            
            h2{
                color:rgb(126, 126, 126)
            }
            p,h1{
                color:rgb(0, 0, 0);
            }
        } 
        }
   