.red3{
    border-top:1px solid rgb(66, 66, 66);
    background-color: rgb(31, 31, 31);
    .k13,.k23,.k33{
        text-align: center;
        color:white;
        display:inline-block;
        width:33.33%;
        padding:1.2vw 0;
        
    }
    .k13{

        .levo1,.desno1{

      
        text-align: left;
        display:inline-block;
        padding:0;
        vertical-align: top;
        p,h4{
            line-height: 7px;
        }
        }
    }
    
    .k23,.k33{
        vertical-align: middle;
        input{
            font-size:12px;
        }
        button{
            font-size:12px;
            padding:10px 12px;
        }
    }
    .k33{
        text-align: left;
        p{
            padding-left:5vw;
        }
        h4{
            padding-left: 5vw ;
        }
       
    }
    }
